# Editor directories and files
.vscode

# Package Manager
node_modules
**/node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
**/dist
coverage
packages/hooks/version.ts

# local env files
*.local
cypress/screenshots/*
cypress/videos/*
tmp
